Repository streamnative/pulsar-io-cloud-storage, pull requests merged in 2022-10, with the labels that each got.

#465 [#14][config] Validate endpoint URI scheme
  src/main/java/org/apache/pulsar/io/jcloud/BlobStoreAbstractConfig.java
  src/test/java/org/apache/pulsar/io/jcloud/ConnectorConfigTest.java
Labels: no-need-doc

#452 [#445][sink] Add trigger for flushing batch when maxBatchBytes is reached
  README.md
  docs/io-cloud-storage-sink.md
  pom.xml
  src/main/java/org/apache/pulsar/io/jcloud/BlobStoreAbstractConfig.java
  src/main/java/org/apache/pulsar/io/jcloud/sink/BlobStoreAbstractSink.java
  src/test/java/org/apache/pulsar/io/jcloud/ConnectorConfigTest.java
  src/test/java/org/apache/pulsar/io/jcloud/provider/GoogleCloudStorageProviderTest.java
  src/test/java/org/apache/pulsar/io/jcloud/sink/CloudStorageGenericRecordSinkTest.java
Labels: doc

#461 Support for KeyValue schema
  src/main/java/org/apache/pulsar/io/jcloud/format/AvroFormat.java
  src/main/java/org/apache/pulsar/io/jcloud/format/JsonFormat.java
  src/main/java/org/apache/pulsar/io/jcloud/format/ParquetFormat.java
  src/main/java/org/apache/pulsar/io/jcloud/util/AvroRecordUtil.java
  src/test/java/org/apache/pulsar/io/jcloud/PulsarTestBase.java
  src/test/java/org/apache/pulsar/io/jcloud/format/AvroFormatTest.java
  src/test/java/org/apache/pulsar/io/jcloud/format/BytesFormatTest.java
  src/test/java/org/apache/pulsar/io/jcloud/format/FormatTestBase.java
  src/test/java/org/apache/pulsar/io/jcloud/format/JsonFormatTest.java
Labels: doc-info-missing

#450 [Issue 446][config] Make pendingQueueSize default to batchSize
  README.md
  docs/io-cloud-storage-sink.md
  src/main/java/org/apache/pulsar/io/jcloud/BlobStoreAbstractConfig.java
  src/test/java/org/apache/pulsar/io/jcloud/ConnectorConfigTest.java
Labels: doc

#466 [#154][docs] Add pathPrefix to docs
  README.md
  docs/io-cloud-storage-sink.md
Labels: doc

#471 Move log 'Skip flushing because the pending flush is empty' to debug level
  src/main/java/org/apache/pulsar/io/jcloud/sink/BlobStoreAbstractSink.java
Labels: doc-info-missing

#469 Make compression algorithm configurable for parquet format
  README.md
  docs/io-cloud-storage-sink.md
  src/main/java/org/apache/pulsar/io/jcloud/BlobStoreAbstractConfig.java
  src/main/java/org/apache/pulsar/io/jcloud/format/ParquetFormat.java
Labels: doc-info-missing

#474 Bump checkstyle to 8.29
  pom.xml
  src/checkstyle/checkstyle.xml
  src/main/java/org/apache/pulsar/io/jcloud/format/JsonFormat.java
  src/main/java/org/apache/pulsar/io/jcloud/sink/CloudStorageGenericRecordSink.java
  src/main/java/org/apache/pulsar/io/jcloud/writer/JCloudsBlobWriter.java
  src/main/java/org/apache/pulsar/io/jcloud/writer/S3BlobWriter.java
  src/test/java/org/apache/pulsar/io/jcloud/format/JsonFormatTest.java
  src/test/java/org/apache/pulsar/io/jcloud/writer/S3BlobWriterTest.java
Labels: no-need-doc

#478 [feat] Support for Azure Blob Storage
  README.md
  docs/io-cloud-storage-sink.md
  pom.xml
  src/main/java/org/apache/pulsar/io/jcloud/BlobStoreAbstractConfig.java
  src/main/java/org/apache/pulsar/io/jcloud/sink/CloudStorageGenericRecordSink.java
  src/main/java/org/apache/pulsar/io/jcloud/sink/CloudStorageSinkConfig.java
  src/main/java/org/apache/pulsar/io/jcloud/writer/AzureBlobWriter.java
  src/test/java/org/apache/pulsar/io/jcloud/provider/GoogleCloudStorageProviderTest.java
  src/test/java/org/apache/pulsar/io/jcloud/writer/AzureBlobWriterTest.java
Labels: doc

#473 [#472][misc] Update PULL_REQUEST_TEMPLATE.md for auto-labeling
  .github/PULL_REQUEST_TEMPLATE.md
Labels: no-need-doc

#468 [#20][docs] Update docs structure for pulsar-hub sync
  docs/cloud-storage-sink.png
  docs/io-cloud-storage-sink.md
Labels: doc
