Repository streamnative/pulsar-io-cloud-storage, pull requests merged in 2022-11, with the labels that each got.

#483 [fix][ci]Change the release process
  .github/workflows/release.yml
  image/Dockerfile
Labels: no-need-doc

#470 Option to use message index instead of record sequence for partitioning
  README.md
  docs/io-cloud-storage-sink.md
  src/main/java/org/apache/pulsar/io/jcloud/BlobStoreAbstractConfig.java
  src/main/java/org/apache/pulsar/io/jcloud/partitioner/AbstractPartitioner.java
  src/main/java/org/apache/pulsar/io/jcloud/partitioner/SimplePartitioner.java
  src/main/java/org/apache/pulsar/io/jcloud/partitioner/TimePartitioner.java
  src/test/java/org/apache/pulsar/io/jcloud/partitioner/PartitionerTest.java
Labels: doc-info-missing

#492 [#491 ]Fix flush stalling for large pendingQueueSize with small batchSize/maxBatchBytes
  README.md
  docs/io-cloud-storage-sink.md
  src/main/java/org/apache/pulsar/io/jcloud/BlobStoreAbstractConfig.java
  src/main/java/org/apache/pulsar/io/jcloud/sink/BlobStoreAbstractSink.java
  src/test/java/org/apache/pulsar/io/jcloud/ConnectorConfigTest.java
  src/test/java/org/apache/pulsar/io/jcloud/sink/CloudStorageGenericRecordSinkTest.java
Labels: doc
