Repository streamnative/pulsar-io-cloud-storage, pull requests merged in 2023-11, with the labels that each got.

#782 Add AWS s3 sink connector docs.
  docs/aws-s3-sink.md
  docs/aws-s3-sink.png
Labels: doc

#786 Add Google Cloud Storage sink connector docs.
  docs/google-cloud-storage-sink.md
  docs/google-cloud-storage-sink.png
Labels: doc

#792 Add azure blob storage sink connector docs.
  docs/azure-blob-storage-sink.md
  docs/azure-blob-storage-sink.png
Labels: doc

#791 Optimize Azure blob storage connector config validation logic
  src/main/java/org/apache/pulsar/io/jcloud/BlobStoreAbstractConfig.java
  src/main/java/org/apache/pulsar/io/jcloud/sink/CloudStorageSinkConfig.java
  src/main/java/org/apache/pulsar/io/jcloud/writer/AzureBlobWriter.java
  src/test/java/org/apache/pulsar/io/jcloud/ConnectorConfigTest.java
Labels: doc-required

#807 fix(doc): fix incorrect values for `formatType`
  docs/aws-s3-sink.md
  docs/azure-blob-storage-sink.md
  docs/cloud-storage-sink.md
  docs/google-cloud-storage-sink.md
Labels: type/bug, doc

#810 feat(partitoner): support global time partitioner
  src/main/java/org/apache/pulsar/io/jcloud/partitioner/PartitionerType.java
  src/main/java/org/apache/pulsar/io/jcloud/sink/BlobStoreAbstractSink.java
  src/test/java/org/apache/pulsar/io/jcloud/partitioner/PartitionerTypeTest.java
  src/test/java/org/apache/pulsar/io/jcloud/sink/CloudStorageGenericRecordSinkTest.java
Labels: type/enhancement

#811 Allow set null string for avroCodec and parquetCodec
  docs/aws-s3-sink.md
  docs/azure-blob-storage-sink.md
  docs/google-cloud-storage-sink.md
  src/main/java/org/apache/pulsar/io/jcloud/BlobStoreAbstractConfig.java
  src/test/java/org/apache/pulsar/io/jcloud/ConnectorConfigTest.java
Labels: no-need-doc
