Repository streamnative/pulsar-io-cloud-storage, pull requests merged in 2023-12, with the labels that each got.

#820 Update permission describe for AWS S3.
  README.md
  docs/aws-s3-sink.md
Labels: doc

#824 fix: cleanup the current batch after flush crashed
  src/main/java/org/apache/pulsar/io/jcloud/sink/BlobStoreAbstractSink.java
  src/test/java/org/apache/pulsar/io/jcloud/sink/CloudStorageGenericRecordSinkTest.java
Labels: type/bug, no-need-doc

#831 Refactor create a connector section docs.
  docs/aws-s3-sink.md
  docs/azure-blob-storage-sink.md
  docs/google-cloud-storage-sink.md
Labels: doc

#832 Fix typos in doc
  docs/aws-s3-sink.md
  docs/azure-blob-storage-sink.md
Labels: doc

#835 Fix format errors for note.
  docs/aws-s3-sink.md
  docs/azure-blob-storage-sink.md
  docs/google-cloud-storage-sink.md
Labels: doc

#843 Add sensitive column for configuration properties
  docs/aws-s3-sink.md
  docs/azure-blob-storage-sink.md
  docs/google-cloud-storage-sink.md
Labels: doc

#844 Update nick-invision to nick-fields
  .github/workflows/release.yml
Labels: no-need-doc

#847 Proposal-1: Partitioner Refactoring
  proposals/Proposal-1-Time-Partitioner-Refactoring.md
Labels: doc
