Repository streamnative/pulsar-io-cloud-storage, pull requests merged in 2024-01, with the labels that each got.

#856 Add AWS-S3-Sink doc for proposal-1
  docs/aws-s3-sink.md
Labels: doc

#858 Add doc for new partitioner
  docs/azure-blob-storage-sink.md
  docs/google-cloud-storage-sink.md
Labels: doc

#860 [Proposal-2] Support including the topic name to the metadata
  proposals/Proposal-2-Support-Including-Topic-Name-To-Metadata.md
Labels: doc

#862 [feat][Proposal-2] Support including the topic name to the metadata(#836)
  src/main/java/org/apache/pulsar/io/jcloud/BlobStoreAbstractConfig.java
  src/main/java/org/apache/pulsar/io/jcloud/format/AvroFormat.java
  src/main/java/org/apache/pulsar/io/jcloud/format/JsonFormat.java
  src/main/java/org/apache/pulsar/io/jcloud/format/ParquetFormat.java
  src/main/java/org/apache/pulsar/io/jcloud/util/MetadataUtil.java
  src/test/java/org/apache/pulsar/io/jcloud/MetadataUtilTest.java
Labels: doc-info-missing, release/3.1.2.2

#863 Add default value for the partitionType to `partition`
  src/main/java/org/apache/pulsar/io/jcloud/BlobStoreAbstractConfig.java
Labels: no-need-doc, release/3.1.2.2

#864 [Doc] Add doc for `includeTopicToMetadata` configuration
  docs/aws-s3-sink.md
  docs/azure-blob-storage-sink.md
  docs/cloud-storage-sink.md
  docs/google-cloud-storage-sink.md
Labels: doc

#873 Update base image
  image/Dockerfile
Labels: no-need-doc

#874 Update base image
  .github/workflows/release.yml
Labels: no-need-doc
